{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container-fluid bg-light p-5 my-5">
      <div class="container mx-auto pt-5">
        <h1 class="display-3 mb-5">Hello, world!</h1>
        <p>This is a template for informational website. It includes a large callout called a
          jumbotron and three supporting pieces of content. It can be used as a starting point to create something more unique.
        </p>
        <p>
         First step : User + authentication for routes security. With user profile editing.
        </p>
        <p>In addition to User and News entity dedicated to the creation of a simple blog, I've added a Message entity dedicated to the settling of private messaging with inbox, sentbox, and the ability to delete messages.
        </p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      {% for new in lastNews %}
      <div class="col-md-4">
        <h2>{{new.title}}</h2>
        <p>{{new.content | u.truncate(100,'...')}}</p>
        <p><span class="text-muted">{{new.createdAt |ago}} - {{new.user.lastname}}</span></p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      {% endfor %}
      {# <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
          felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div> #}
    </div>

    <hr>

  </div> <!-- /container -->

</main>



{% endblock %}