{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}


<main role="main">
  <div class="container-fluid bg-light p-5 my-5">
    <div class="container mx-auto pt-5">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">{{news.title}}</h1>
        </div>
      </div>
      <hr>

      <div class="container mt-5">
        <!-- Example row of columns -->
        <div class="row">

          <div class="col-12">
            <p>{{news.content}}</p>
            <p><span class="text-muted">{{news.createdAt |ago}} - par {{news.user.lastname}}</span></p>
          </div>


        </div>

        <hr>

      </div> <!-- /container -->
    </div>
  </div>

</main>



{% endblock %}