{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
<div class="container-fluid bg-light p-5 my-5">
    <div class="container mx-auto pt-5">
      <h1 class="display-3 mb-5">Messagerie</h1>
      <p>Classical formType associated with the message entity. Return above this jumbotron with classical $form->createView().<br>as mentioned in the introduction, the interest of linking the user tables and message here is the use of Symfony form EntityType::class in the MessageType.   
          <code>
            ->add('recipient', EntityType::class, [
                "class" => User::class,
                "choice_label" => "email"])
          </code>. 
           <p>
            Then, above this jumbotron, you can see in action <code> app.user.received|length</code>
           </p> 
      </p>
   </div>
</div>

	<section class="container">
		<div class="row">
			<div class="col">
				<h2 class="display-5">Envoyer un message</h2>
                {{ form(form) }}
				<a class="btn btn-secondary mt-3" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					Voir mes dossiers
				</a>
			</div>
		</div>
	</section>
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Accueil</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Boîte de réception</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Eléments envoyés</a>
            </div>
		</div>
	</div>
{% endblock %}